body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: #FFFFFF;
  color: #000000;
}

h1, h2, h3, h4, h5 {
  font-family: "Readex Pro", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}

header .container {
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 1295px;
}
@media screen and (max-width: 320px) {
  header .container nav {
    font-size: 0.7rem;
  }
}
header .container nav ul {
  text-transform: uppercase;
  margin-bottom: 0;
}
header .container nav ul li:nth-of-type(1) {
  margin-right: 33px;
}
@media screen and (max-width: 991px) {
  header .container nav ul li:nth-of-type(1) {
    margin-right: 0;
  }
}
header .container nav ul li:nth-of-type(3) {
  margin-right: 44px;
}
@media screen and (max-width: 991px) {
  header .container nav ul li:nth-of-type(3) {
    margin-right: 0;
  }
}
header .container nav ul li .solutions-dropdown:after {
  margin-left: 4px;
  margin-right: 34px;
  content: "";
  display: inline-block;
  width: 12px;
  height: 9px;
  background-repeat: no-repeat;
  background-image: url("../images/dropdown_vector.svg");
}
@media screen and (max-width: 991px) {
  header .container nav ul li .solutions-dropdown:after {
    margin-right: 0;
  }
}
@media screen and (max-width: 991px) and (max-width: 320px) {
  header .container nav ul li .solutions-dropdown:after {
    display: none;
  }
}
header .header_icons {
  margin-bottom: 0;
}
@media screen and (min-width: 992px) {
  header .header_icons {
    margin-left: 90px;
  }
}
header .header_icons li {
  text-align: right;
}
header .header_icons li:first-of-type {
  margin-right: 22px;
}
@media screen and (max-width: 991px) {
  header .header_icons li:first-of-type {
    margin-right: 0;
    padding: 8px 0;
  }
}
@media screen and (max-width: 991px) {
  header .header_icons li:first-of-type a:before {
    content: "Search";
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.5);
  }
}
@media screen and (max-width: 320px) {
  header .header_icons li:first-of-type a img {
    display: none;
  }
}
header .header_icons li:last-of-type {
  margin-right: 17px;
}
@media screen and (max-width: 991px) {
  header .header_icons li:last-of-type {
    margin-right: 0;
    padding: 8px 0;
  }
}
@media screen and (max-width: 991px) {
  header .header_icons li:last-of-type a:before {
    content: "Your cart";
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.5);
  }
}
@media screen and (max-width: 320px) {
  header .header_icons li:last-of-type a img {
    display: none;
  }
}

.extra-hover:hover:before {
  color: rgba(0, 0, 0, 0.7) !important;
}

.main_banner {
  background-color: #DCE5E2;
  border-radius: 32px;
  max-width: 1294px;
  padding: 0;
}

@media screen and (min-width: 320px) {
  .main_banner_text {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 270px;
    text-align: center;
  }
}
@media screen and (min-width: 360px) {
  .main_banner_text {
    max-width: 310px;
  }
}
@media screen and (min-width: 576px) {
  .main_banner_text {
    max-width: 500px;
  }
}
@media screen and (min-width: 768px) {
  .main_banner_text {
    max-width: 588px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 56px;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .main_banner_text {
    margin-top: 145px;
    margin-bottom: 127px;
  }
}
@media screen and (min-width: 320px) {
  .main_banner_text h1 {
    font-size: 23px;
    line-height: 25px;
  }
}
@media screen and (min-width: 768px) {
  .main_banner_text h1 {
    font-size: 36px;
    line-height: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .main_banner_text h1 {
    margin-bottom: 19px;
    font-size: 58px;
    line-height: 70px;
  }
}
.main_banner_text p {
  line-height: 19px;
  font-size: 16px;
  margin-bottom: 30px;
}
.main_banner_text button {
  transition: 0.2s;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 200px 200px;
  font-size: 18px;
  line-height: 22px;
  padding: 14px 63px;
}
.main_banner_text button:hover {
  transform: scale(1.03);
  background-color: #6c757d;
  color: #FFFFFF;
  border-color: #6c757d;
}
@media screen and (max-width: 768px) {
  .main_banner_text button {
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .main_banner_text button {
    margin: 0;
  }
}

@media screen and (min-width: 320px) {
  .banner-img {
    width: 100%;
    height: auto;
  }
}
.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  background-image: url("../images/left_arrow.svg");
  width: 14px;
  height: 26px;
  top: 263px;
  left: 19px;
}
@media screen and (min-width: 768px) {
  .owl-carousel .owl-nav button.owl-prev {
    top: 158px;
  }
}
@media screen and (min-width: 992px) {
  .owl-carousel .owl-nav button.owl-prev {
    top: 263px;
  }
}
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  background-image: url("../images/right_arrow.svg");
  width: 14px;
  height: 26px;
  top: 263px;
  right: 19px;
}
@media screen and (min-width: 768px) {
  .owl-carousel .owl-nav button.owl-next {
    top: 158px;
  }
}
@media screen and (min-width: 992px) {
  .owl-carousel .owl-nav button.owl-next {
    top: 263px;
  }
}
.owl-carousel .owl-dots {
  position: absolute;
  bottom: 34px;
  left: 0;
  right: 0;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .owl-carousel .owl-dots {
    display: none;
  }
}
.owl-carousel button.owl-dot {
  background-image: url("../images/carousel_bar.svg");
  width: 120px;
  height: 3px;
  margin-right: 20px;
  opacity: 40%;
}
.owl-carousel .owl-dot.active {
  opacity: 100%;
}

.latest_offers_text {
  margin-top: 75px;
  margin-bottom: 55px;
  padding: 0;
  text-align: center;
}
.latest_offers_text h2 {
  font-size: 42px;
  line-height: 53px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 9px;
  text-align: center;
  max-width: 780px;
}
@media screen and (max-width: 428px) {
  .latest_offers_text h2 {
    font-size: 21px;
    line-height: 26px;
  }
}
.latest_offers_text p {
  font-size: 13px;
  line-height: 17px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Readex Pro", sans-serif;
  text-align: center;
  font-size: 14px;
  max-width: 628px;
}

.latest_offers_grid {
  max-width: 1294px;
}

.offers-items {
  background-color: #F8F9FA;
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
  transition: 0.5s;
}
.offers-items:hover {
  transform: scale(1.03);
}
@media screen and (min-width: 320px) {
  .offers-items h5 {
    font-size: 12px;
    line-height: 15px;
  }
}
@media screen and (min-width: 576px) {
  .offers-items h5 {
    font-size: 15px;
    line-height: 19px;
  }
}
@media screen and (min-width: 320px) {
  .offers-items h4 {
    font-size: 26px;
    line-height: 30px;
  }
}
@media screen and (min-width: 576px) {
  .offers-items h4 {
    font-size: 32px;
    line-height: 38px;
  }
}

@media screen and (min-width: 768px) {
  .offers-item-1 {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .offers-item-1 {
    margin-bottom: 72px;
  }
}
.offers-item-1 img {
  margin-left: 27px;
}
@media screen and (min-width: 320px) {
  .offers-item-1 img {
    width: 75%;
  }
}
@media screen and (min-width: 1200px) {
  .offers-item-1 img {
    width: 90%;
  }
}
.offers-item-1 h5, .offers-item-1 h4 {
  text-align: right;
  margin-right: 27px;
}

@media screen and (min-width: 768px) {
  .offers-item-2 {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .offers-item-2 {
    margin-bottom: 0;
  }
}
.offers-item-2 img {
  margin-left: 27px;
}
@media screen and (min-width: 320px) {
  .offers-item-2 img {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .offers-item-2 img {
    width: 100%;
  }
}
@media screen and (min-width: 320px) {
  .offers-item-2 div {
    margin-top: 0;
  }
}
@media screen and (min-width: 576px) {
  .offers-item-2 div {
    margin-top: 87px;
  }
}
@media screen and (min-width: 992px) {
  .offers-item-2 div {
    margin-top: 160px;
  }
}
@media screen and (min-width: 1200px) {
  .offers-item-2 div {
    margin-top: 87px;
  }
}
.offers-item-2 div h5, .offers-item-2 div h4 {
  text-align: right;
  margin-right: 27px;
}

@media screen and (min-width: 320px) {
  .offers-item-3 {
    margin-left: 15px;
  }
}
@media screen and (min-width: 576px) {
  .offers-item-3 {
    margin-top: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .offers-item-3 {
    margin-top: 0;
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .offers-item-3 {
    margin-bottom: 30px;
    max-width: 23%;
  }
}
@media screen and (min-width: 320px) {
  .offers-item-3 img {
    margin-top: 20px;
    position: absolute;
    right: 0;
  }
}
@media screen and (min-width: 875px) {
  .offers-item-3 img {
    margin-top: 40px;
    width: 90%;
  }
}
@media screen and (min-width: 1200px) {
  .offers-item-3 img {
    margin-top: 144px;
    margin-bottom: 41px;
  }
}
.offers-item-3 h5 {
  text-align: center;
}
@media screen and (min-width: 320px) {
  .offers-item-3 h5 {
    margin-top: 220px;
  }
}
@media screen and (min-width: 360px) {
  .offers-item-3 h5 {
    margin-top: 240px;
  }
}
@media screen and (min-width: 412px) {
  .offers-item-3 h5 {
    margin-top: 260px;
  }
}
@media screen and (min-width: 450px) {
  .offers-item-3 h5 {
    margin-top: 330px;
  }
}
@media screen and (min-width: 576px) {
  .offers-item-3 h5 {
    margin-top: 360px;
  }
}
@media screen and (min-width: 648px) {
  .offers-item-3 h5 {
    margin-top: 390px;
  }
}
@media screen and (min-width: 710px) {
  .offers-item-3 h5 {
    margin-top: 420px;
  }
}
@media screen and (min-width: 780px) {
  .offers-item-3 h5 {
    margin-top: 450px;
  }
}
@media screen and (min-width: 875px) {
  .offers-item-3 h5 {
    margin-top: 520px;
  }
}
@media screen and (min-width: 992px) {
  .offers-item-3 h5 {
    margin-top: 570px;
  }
}
@media screen and (min-width: 1100px) {
  .offers-item-3 h5 {
    margin-top: 620px;
  }
}
@media screen and (min-width: 1200px) {
  .offers-item-3 h5 {
    margin-top: 552px;
  }
}
.offers-item-3 h4 {
  text-align: center;
}
@media screen and (min-width: 648px) {
  .offers-item-3 h4 {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .offers-item-3 h4 {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 320px) {
  .offers-item-4 {
    margin-right: 15px;
  }
}
@media screen and (min-width: 576px) {
  .offers-item-4 {
    margin-top: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .offers-item-4 {
    max-width: 23%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.offers-item-4 h5 {
  text-align: center;
}
@media screen and (min-width: 320px) {
  .offers-item-4 h5 {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .offers-item-4 h5 {
    margin-top: 114px;
  }
}
.offers-item-4 h4 {
  text-align: center;
}
@media screen and (min-width: 320px) {
  .offers-item-4 img {
    position: absolute;
    margin-top: 20px;
    left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .offers-item-4 img {
    margin-top: 42px;
  }
}

.most_selled_text {
  margin-top: 78px;
  max-width: 670px;
}
.most_selled_text h2 {
  font-size: 42px;
  line-height: 53px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 9px;
  text-align: center;
}
@media screen and (max-width: 428px) {
  .most_selled_text h2 {
    font-size: 21px;
    line-height: 26px;
  }
}
.most_selled_text p {
  font-size: 13px;
  line-height: 17px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Readex Pro", sans-serif;
  text-align: center;
  margin-bottom: 31px;
}

.most_selled_items {
  max-width: 1294px;
}
.most_selled_items a {
  text-decoration: none;
  transition: 0.5s;
}
.most_selled_items a:hover {
  cursor: pointer;
  transform: scale(1.03);
}
.most_selled_items img {
  margin-bottom: 37px;
}
.most_selled_items h3 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 9px;
}
.most_selled_items p {
  font-size: 14px;
  line-height: 17px;
  height: 70px;
  margin-bottom: 0;
}
.most_selled_items .prices {
  font-size: 18px;
  line-height: 22px;
  height: initial;
}

@media screen and (max-width: 767px) {
  .bordered-most-selled-items {
    padding-bottom: 10px;
    border-bottom: thin solid darkgray;
  }
}

.best_around_text {
  max-width: 670px;
  margin-top: 74px;
  margin-bottom: 56px;
}
.best_around_text h3 {
  font-size: 42px;
  line-height: 53px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 9px;
  text-align: center;
}
@media screen and (max-width: 428px) {
  .best_around_text h3 {
    font-size: 21px;
    line-height: 26px;
  }
}
.best_around_text p {
  font-size: 13px;
  line-height: 17px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Readex Pro", sans-serif;
  text-align: center;
}

.best_around_items {
  max-width: 1294px;
}
.best_around_items h5 {
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  margin-top: 41px;
}
.best_around_items h4 {
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 30px;
}
.best_around_items button {
  background-color: transparent;
  margin-bottom: 30px;
  border: 1px solid black;
  border-radius: 200px 200px;
  font-size: 18px;
  line-height: 22px;
  padding: 14px 63px;
  transition: 0.2s;
}
.best_around_items button:hover {
  transform: scale(1.03);
  background-color: #6c757d;
  color: #FFFFFF;
  border-color: #6c757d;
}
.best_around_items .best_around_item {
  border-radius: 16px;
  background-color: #F8F9FA;
}
@media screen and (min-width: 992px) {
  .best_around_items .best_around_item {
    max-width: 32%;
  }
}

.ideas_text {
  max-width: 1294px;
  margin-top: 75px;
  margin-bottom: 56px;
}
.ideas_text h3 {
  font-size: 42px;
  line-height: 53px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 9px;
  text-align: center;
}
@media screen and (max-width: 428px) {
  .ideas_text h3 {
    font-size: 21px;
    line-height: 26px;
  }
}
.ideas_text p {
  font-size: 13px;
  line-height: 17px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Readex Pro", sans-serif;
  text-align: center;
}

.ideas_blocks {
  max-width: 1294px;
}

.ideas_mottos p {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 28px;
  text-align: left;
}
@media screen and (max-width: 428px) {
  .ideas_mottos p {
    font-size: 16px;
    line-height: 24px;
  }
}

.see_all {
  font-size: 24px;
  line-height: 29px;
  margin-top: 73px;
  text-align: center;
}
@media screen and (max-width: 428px) {
  .see_all {
    margin-top: 20px;
  }
}
.see_all:after {
  content: "";
  display: inline-block;
  width: 28px;
  height: 22px;
  background-repeat: no-repeat;
  background-image: url("../images/arrow_vector.svg");
}

.search_block {
  margin-top: 51px;
  margin-bottom: 68px;
}
.search_block h3 {
  font-size: 42px;
  line-height: 53px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 9px;
  text-align: center;
  margin-bottom: 24px;
}
@media screen and (max-width: 428px) {
  .search_block h3 {
    font-size: 21px;
    line-height: 26px;
  }
}
.search_block form {
  background-color: #F8F9FA;
  border: 1px solid #C5C5C5;
  border-radius: 100px;
  max-width: 650px;
  height: 60px;
  margin: auto;
}
.search_block img {
  margin-left: 21px;
  margin-right: 26px;
  margin-top: -6px;
}
.search_block input {
  margin-top: 28px;
  margin-bottom: 22px;
  border: none;
  background-color: #f8f9fa;
  width: 420px;
}
@media screen and (max-width: 428px) {
  .search_block input {
    width: 200px;
  }
}
.search_block input:focus {
  outline: none;
}
.search_block button {
  display: block;
  padding: 12px 22px 13px;
  background-color: transparent;
  border: 1px solid #C5C5C5;
  border-radius: 200px;
  font-size: 13px;
  line-height: 17px;
  white-space: nowrap;
  margin-right: 7px;
  margin-bottom: 7px;
  transition: 0.2s;
}
.search_block button:hover {
  transform: scale(1.03);
}
@media screen and (max-width: 576px) {
  .search_block button {
    font-size: 7px;
    line-height: 9px;
    padding: 7px 12px 7px;
  }
}
.search_block .search_words-row-1 {
  margin-top: 18px;
}

.subscription {
  max-width: 935px;
  background-color: #DCE5E2;
  border-radius: 16px;
  padding-top: 47px;
  padding-bottom: 43px;
  margin-bottom: 19px;
}
.subscription h3 {
  font-size: 42px;
  line-height: 53px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 9px;
  text-align: center;
}
@media screen and (max-width: 428px) {
  .subscription h3 {
    font-size: 21px;
    line-height: 26px;
  }
}
.subscription p {
  font-size: 13px;
  line-height: 17px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Readex Pro", sans-serif;
  text-align: center;
  margin-bottom: 14px;
}
.subscription form {
  background-color: #DCE5E2;
  border: 1px solid black;
  border-radius: 54px;
  max-width: 400px;
  height: 50px;
}
.subscription form input {
  height: 40px;
  border: none;
  background-color: #DCE5E2;
  margin-left: 32px;
  margin-top: 3px;
  width: 225px;
}
@media screen and (max-width: 428px) {
  .subscription form input {
    width: 140px;
  }
}
.subscription form input:focus {
  outline: none;
}
.subscription form button {
  background-color: black;
  color: #FFFFFF;
  width: 115px;
  padding: 16px 33px 17px 32px;
  font-size: 14px;
  line-height: 17px;
  white-space: nowrap;
  border: none;
  border-radius: 0 200px 200px 0;
  margin-top: -1px;
  margin-right: -1px;
  transition: 0.2s;
}
.subscription form button:hover {
  transform: scale(1.02);
}

footer {
  background-color: #F8F9FA;
}
footer .footer_content {
  max-width: 1294px;
  padding-top: 44px;
}
footer p {
  margin-top: 18px;
  font-size: 16px;
  line-height: 19px;
}
footer ul li:first-of-type {
  font-family: "Readex Pro", sans-serif;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 19px;
}
@media screen and (max-width: 428px) {
  footer ul li:first-of-type {
    font-size: 14px;
    line-height: 20px;
  }
}
footer ul li:nth-of-type(n+2) {
  font-size: 17px;
  line-height: 22px;
  margin-bottom: 14px;
}
@media screen and (max-width: 428px) {
  footer ul li:nth-of-type(n+2) {
    font-size: 13px;
    line-height: 18px;
  }
}
footer hr {
  max-width: 1350px;
  height: 1px;
  margin-top: 78px;
  color: #DCE5E2;
}
@media screen and (max-width: 428px) {
  footer hr {
    margin-top: 20px;
  }
}
footer .final_subscript {
  max-width: 1294px;
}
footer .final_subscript p {
  font-family: "Readex Pro", sans-serif;
  font-size: 18px;
  line-height: 22px;
}
@media screen and (max-width: 428px) {
  footer .final_subscript p {
    font-size: 10px;
    line-height: 12px;
  }
}
footer .final_subscript p a {
  font-family: "Inter", sans-serif;
}
footer .final_subscript p a:after {
  content: "";
  display: inline-block;
  width: 28px;
  height: 12px;
  background-repeat: no-repeat;
  background-image: url("../images/arrow_sub.svg");
  background-size: 50%;
}
@media screen and (max-width: 428px) {
  footer .final_subscript p a:after {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
