$main_color: #000000;
$add_color: #4B4B4B;
$bg_color: #FFFFFF;
$bg_item_color: #F8F9FA;

@mixin max-screen-width($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

@mixin min-screen-width($res) {
  @media screen and (min-width: $res) {
    @content;
  }
}

@mixin main_headings {
  font-size: 42px;
  line-height: 53px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 9px;
  text-align: center;
  @include max-screen-width(428px) {
    font-size: 21px;
    line-height: 26px;
  }
}

@mixin main_headings_subtext {
  font-size: 13px;
  line-height: 17px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Readex Pro", sans-serif;
  text-align: center;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-color: $bg_color;
  color: $main_color;
}

h1, h2, h3, h4, h5 {
  font-family: "Readex Pro", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

header {
  .container {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 1295px;

    nav {
      @include max-screen-width(320px) {
        font-size: 0.7rem;
      }

      ul {
        text-transform: uppercase;
        margin-bottom: 0;

        li {

          &:nth-of-type(1) {
            margin-right: 33px;
            @include max-screen-width(991px) {
              margin-right: 0;
            }
          }

          &:nth-of-type(3) {
            margin-right: 44px;
            @include max-screen-width(991px) {
              margin-right: 0;
            }
          }

          .solutions-dropdown {
            &:after {
              margin-left: 4px;
              margin-right: 34px;
              content: "";
              display: inline-block;
              width: 12px;
              height: 9px;
              background-repeat: no-repeat;
              background-image: url("../images/dropdown_vector.svg");
              @include max-screen-width(991px) {
                margin-right: 0;
                @include max-screen-width(320px) {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }


  .header_icons {
    margin-bottom: 0;
    @include min-screen-width(992px) {
      margin-left: 90px;
    }

    li {
      text-align: right;

      &:first-of-type {
        margin-right: 22px;
        @include max-screen-width(991px) {
          margin-right: 0;
          padding: 8px 0;
        }

        a {
          &:before {
            @include max-screen-width(991px) {
              content: "Search";
              margin-right: 5px;
              color: rgba(0, 0, 0, 0.5);
            }
          }

          img {
            @include max-screen-width(320px) {
              display: none;
            }
          }

        }
      }

      &:last-of-type {
        margin-right: 17px;
        @include max-screen-width(991px) {
          margin-right: 0;
          padding: 8px 0;
        }

        a {
          &:before {
            @include max-screen-width(991px) {
              content: "Your cart";
              margin-right: 5px;
              color: rgba(0, 0, 0, 0.5);
            }
          }

          img {
            @include max-screen-width(320px) {
              display: none;
            }
          }
        }
      }
    }
  }
}

.extra-hover:hover:before {
  color: rgba(0, 0, 0, 0.7) !important;
}

.main_banner {
  background-color: #DCE5E2;
  border-radius: 32px;
  max-width: 1294px;
  padding: 0;
}

.main_banner_text {
  @include min-screen-width(320px) {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 270px;
    text-align: center;
  }
  @include min-screen-width(360px) {
    max-width: 310px;
  }
  @include min-screen-width(576px) {
    max-width: 500px;
  }
  @include min-screen-width(768px) {
    max-width: 588px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 56px;
    text-align: left;
  }
  @include min-screen-width(1200px) {
    margin-top: 145px;
    margin-bottom: 127px;
  }

  h1, h2 {
    @include min-screen-width(320px) {
      font-size: 23px;
      line-height: 25px;
    }

    @include min-screen-width(768px) {
      font-size: 36px;
      line-height: 40px;
    }

    @include min-screen-width(1200px) {
      margin-bottom: 19px;
      font-size: 58px;
      line-height: 70px;
    }
  }

  p {
    line-height: 19px;
    font-size: 16px;
    margin-bottom: 30px;
  }

  a {
    transition: 0.2s;

    &:hover {
      transform: scale(1.03);
      background-color: #6c757d;
      color: #FFFFFF;
      border-color: #6c757d;
    }

    @include max-screen-width(768px) {
      margin: auto;
    }
    @include min-screen-width(768px) {
      margin: 0;
    }
    background-color: transparent;
    border: 1px solid black;
    border-radius: 200px 200px;
    font-size: 18px;
    line-height: 22px;
    padding: 14px 63px;
  }
}

.banner-img {
  @include min-screen-width(320px) {
    width: 100%;
    height: auto;
  }
  @include min-screen-width(576px) {
  }
}

.owl-carousel {
  .owl-nav {
    button.owl-prev {
      @include min-screen-width(768px) {
        top: 158px;
      }
      @include min-screen-width(992px) {
        top: 263px;
      }
      position: absolute;
      background-image: url("../images/left_arrow.svg");
      width: 14px;
      height: 26px;
      top: 263px;
      left: 19px;
    }

    button.owl-next {
      @include min-screen-width(768px) {
        top: 158px;
      }
      @include min-screen-width(992px) {
        top: 263px;
      }
      position: absolute;
      background-image: url("../images/right_arrow.svg");
      width: 14px;
      height: 26px;
      top: 263px;
      right: 19px;
    }
  }

  .owl-dots {
    @include max-screen-width(991px) {
      display: none;
    }
    position: absolute;
    bottom: 34px;
    left: 0;
    right: 0;
    text-align: center;
  }

  button.owl-dot {
    background-image: url("../images/carousel_bar.svg");
    width: 120px;
    height: 3px;
    margin-right: 20px;
    opacity: 40%;
  }

  .owl-dot.active {
    opacity: 100%;
  }
}


.latest_offers_text {
  margin-top: 75px;
  margin-bottom: 55px;
  padding: 0;
  text-align: center;

  h2 {
    @include main_headings;
    max-width: 780px;
  }

  p {
    @include main_headings_subtext;
    font-size: 14px;
    max-width: 628px;

  }

}

.latest_offers_grid {
  max-width: 1294px;
}


.offers-items {
  background-color: $bg_item_color;
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.25));
  transition: 0.5s;

  &:hover {
    transform: scale(1.03);
  }

  h5 {
    @include min-screen-width(320px) {
      font-size: 12px;
      line-height: 15px;
    }
    @include min-screen-width(576px) {
      font-size: 15px;
      line-height: 19px;
    }
  }

  h4 {

    @include min-screen-width(320px) {
      font-size: 26px;
      line-height: 30px;
    }
    @include min-screen-width(576px) {
      font-size: 32px;
      line-height: 38px;
    }
  }
}

.offers-item-1 {
  @include min-screen-width(768px) {
    margin-bottom: 30px;
  }
  @include min-screen-width(1200px) {
    margin-bottom: 72px;
  }

  img {
    margin-left: 27px;
    @include min-screen-width(320px) {
      width: 75%;
    }
    @include min-screen-width(1200px) {
      width: 90%;
    }
  }

  h5, h4 {
    text-align: right;
    margin-right: 27px;
  }
}

.offers-item-2 {
  @include min-screen-width(768px) {
    margin-bottom: 30px;
  }
  @include min-screen-width(1200px) {
    margin-bottom: 0;
  }

  img {
    @include min-screen-width(320px) {
      width: 50%;
    }
    @include min-screen-width(1200px) {
      width: 100%;
    }
    margin-left: 27px;
  }

  div {
    @include min-screen-width(320px) {
      margin-top: 0;
    }
    @include min-screen-width(576px) {
      margin-top: 87px;
    }
    @include min-screen-width(992px) {
      margin-top: 160px;
    }
    @include min-screen-width(1200px) {
      margin-top: 87px;
    }

    h5, h4 {
      text-align: right;
      margin-right: 27px;
    }
  }
}


.offers-item-3 {
  @include min-screen-width(320px) {
    margin-left: 15px;
  }

  @include min-screen-width(576px) {
    margin-top: 8px;
  }
  @include min-screen-width(1200px) {
    margin-top: 0;
    margin-left: 0;
  }
  @include min-screen-width(1200px) {
    margin-bottom: 30px;
    max-width: 23%;
  }

  img {
    @include min-screen-width(320px) {
      margin-top: 20px;
      position: absolute;
      right: 0;
    }
    @include min-screen-width(875px) {
      margin-top: 40px;
      width: 90%;
    }
    @include min-screen-width(1200px) {
      margin-top: 144px;
      margin-bottom: 41px;
    }
  }

  h5 {
    @include min-screen-width(320px) {
      margin-top: 220px;
    }
    @include min-screen-width(360px) {
      margin-top: 240px;
    }
    @include min-screen-width(412px) {
      margin-top: 260px;
    }
    @include min-screen-width(450px) {
      margin-top: 330px;
    }
    @include min-screen-width(576px) {
      margin-top: 360px;
    }
    @include min-screen-width(648px) {
      margin-top: 390px;
    }
    @include min-screen-width(710px) {
      margin-top: 420px;
    }
    @include min-screen-width(780px) {
      margin-top: 450px;
    }
    @include min-screen-width(875px) {
      margin-top: 520px;
    }
    @include min-screen-width(992px) {
      margin-top: 570px;
    }
    @include min-screen-width(1100px) {
      margin-top: 620px;
    }
    @include min-screen-width(1200px) {
      margin-top: 552px;
    }
    text-align: center;
  }

  h4 {
    text-align: center;
    @include min-screen-width(648px) {
      margin-bottom: 30px;
    }
    @include min-screen-width(1200px) {
      margin-bottom: 0;
    }
  }
}

.offers-item-4 {
  @include min-screen-width(320px) {
    margin-right: 15px;
  }
  @include min-screen-width(576px) {
    margin-top: 8px;
  }
  @include min-screen-width(1200px) {
    max-width: 23%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }

  h5 {
    @include min-screen-width(320px) {
      margin-top: 20px;
    }
    text-align: center;
    @include min-screen-width(1200px) {
      margin-top: 114px;
    }

  }

  h4 {
    text-align: center;
  }

  img {
    @include min-screen-width(320px) {
      position: absolute;
      margin-top: 20px;
      left: 0;
    }

    @include min-screen-width(1200px) {
      margin-top: 42px;
    }
  }
}


.most_selled_text {
  margin-top: 78px;
  max-width: 670px;

  h2 {
    @include main_headings;
  }

  p {
    @include main_headings_subtext;
    margin-bottom: 31px;
  }
}

.most_selled_items {
  max-width: 1294px;

  a {
    text-decoration: none;
    transition: 0.5s;

    &:hover {
      cursor: pointer;
      transform: scale(1.03);
    }
  }

  img {
    margin-bottom: 37px;
  }

  h3 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 9px;
  }

  p {
    font-size: 14px;
    line-height: 17px;
    height: 70px;
    margin-bottom: 0;
  }

  .prices {
    font-size: 18px;
    line-height: 22px;
    height: initial;
  }
}

.bordered-most-selled-items {
  @include max-screen-width(767px) {
    padding-bottom: 10px;
    border-bottom: thin solid darkgray;
  }
}

.best_around_text {
  max-width: 670px;
  margin-top: 74px;
  margin-bottom: 56px;

  h3 {
    @include main_headings;
  }

  p {
    @include main_headings_subtext;
  }
}

.best_around_items {
  max-width: 1294px;

  h5 {
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    margin-top: 41px;
  }

  h4 {
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 30px;
  }

  a {
    background-color: transparent;
    margin-bottom: 30px;
    border: 1px solid black;
    border-radius: 200px 200px;
    font-size: 18px;
    line-height: 22px;
    padding: 14px 63px;
    max-width: 190px;
    transition: 0.2s;

    &:hover {
      transform: scale(1.03);
      background-color: #6c757d;
      color: #FFFFFF;
      border-color: #6c757d;
    }
  }

  .best_around_item {
    border-radius: 16px;
    background-color: $bg_item_color;
    @include min-screen-width(992px) {
      max-width: 32%;
    }
  }
}

.ideas_text {
  max-width: 1294px;
  margin-top: 75px;
  margin-bottom: 56px;

  h3 {
    @include main_headings;
  }

  p {
    @include main_headings_subtext;
  }
}

.ideas_blocks {
  max-width: 1294px;
}

.ideas_mottos {
  p {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 28px;
    text-align: left;
    @include max-screen-width(428px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.see_all {
  font-size: 24px;
  line-height: 29px;
  margin-top: 73px;
  text-align: center;
  @include max-screen-width(428px) {
    margin-top: 20px;
  }

  &:after {
    content: "";
    display: inline-block;
    width: 28px;
    height: 22px;
    background-repeat: no-repeat;
    background-image: url("../images/arrow_vector.svg");
  }
}

.search_block {
  margin-top: 51px;
  margin-bottom: 68px;

  h3 {
    @include main_headings;
    margin-bottom: 24px;
  }

  form {
    background-color: #F8F9FA;
    border: 1px solid #C5C5C5;
    border-radius: 100px;
    max-width: 650px;
    height: 60px;
    margin: auto;
  }

  img {
    margin-left: 21px;
    margin-right: 26px;
    margin-top: -6px
  }

  input {
    margin-top: 28px;
    margin-bottom: 22px;
    border: none;
    background-color: #f8f9fa;
    width: 420px;
    @include max-screen-width(428px) {
      width: 200px;
    }

    &:focus {
      outline: none;
    }
  }

  a {
    display: block;
    padding: 12px 22px 13px;
    background-color: transparent;
    border: 1px solid #C5C5C5;
    border-radius: 200px;
    font-size: 13px;
    line-height: 17px;
    white-space: nowrap;
    margin-right: 7px;
    margin-bottom: 7px;
    text-decoration: none;
    transition: 0.2s;

    &:hover {
      transform: scale(1.03)
    }

    @include max-screen-width(576px) {
      font-size: 7px;
      line-height: 9px;
      padding: 7px 12px 7px;
    }
  }

  .search_words-row-1 {
    margin-top: 18px;
  }
}

.subscription {
  max-width: 935px;
  background-color: #DCE5E2;
  border-radius: 16px;
  padding-top: 47px;
  padding-bottom: 43px;
  margin-bottom: 19px;

  h3 {
    @include main_headings;
  }

  p {
    @include main_headings_subtext;
    margin-bottom: 14px;
  }

  form {
    background-color: #DCE5E2;
    border: 1px solid black;
    border-radius: 54px;
    max-width: 400px;
    height: 50px;

    input {
      height: 40px;
      border: none;
      background-color: #DCE5E2;
      margin-left: 32px;
      margin-top: 3px;
      width: 225px;
      @include max-screen-width(428px) {
        width: 140px;
      }

      &:focus {
        outline: none;
      }
    }

    button {
      background-color: black;
      color: #FFFFFF;
      width: 115px;
      padding: 16px 33px 17px 32px;
      font-size: 14px;
      line-height: 17px;
      white-space: nowrap;
      border: none;
      border-radius: 0 200px 200px 0;
      margin-top: -1px;
      margin-right: -1px;
      transition: 0.2s;

      &:hover {
        transform: scale(1.02)
      }
    }
  }
}

footer {
  background-color: #F8F9FA;

  .footer_content {
    max-width: 1294px;
    padding-top: 44px;
  }

  p {
    margin-top: 18px;
    font-size: 16px;
    line-height: 19px;

  }

  ul {
    li {
      &:first-of-type {
        font-family: "Readex Pro", sans-serif;
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 19px;
        @include max-screen-width(428px) {
          font-size: 14px;
          line-height: 20px;
        }
      }

      &:nth-of-type(n+2) {
        font-size: 17px;
        line-height: 22px;
        margin-bottom: 14px;
        @include max-screen-width(428px) {
          font-size: 13px;
          line-height: 18px;
        }
      }
    }
  }

  hr {
    max-width: 1350px;
    height: 1px;
    margin-top: 78px;
    color: #DCE5E2;
    @include max-screen-width(428px) {
      margin-top: 20px;
    }
  }

  .final_subscript {
    max-width: 1294px;

    p {
      font-family: "Readex Pro", sans-serif;
      font-size: 18px;
      line-height: 22px;
      @include max-screen-width(428px) {
        font-size: 10px;
        line-height: 12px;
      }

      a {
        font-family: "Inter", sans-serif;

        &:after {
          content: "";
          display: inline-block;
          width: 28px;
          height: 12px;
          background-repeat: no-repeat;
          background-image: url("../images/arrow_sub.svg");
          background-size: 50%;
          @include max-screen-width(428px) {
            display: none;
          }
        }
      }
    }
  }
}